<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="true">


    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!--请自行修改此处配置文件位置,如果需要加载依赖包中的配置文件 请使用 classpath*:
        如果需要加载依赖包中的配置文件,需要依赖包中的文件的名字的通配符和相对于 resources 目录的位置和当前项目一致
        -->
        <param-value>classpath:spring/app*.xml</param-value>

    </context-param>

    <context-param>
        <param-name>contextConfigRedis</param-name>
        <!--classpath*带着*表示会扫描导入jar包的对应路径文件-->
        <param-value>classpath*:app*.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>



</web-app>