<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shenrun.p2pproject.user.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.shenrun.p2pproject.user.pojo.UserPojo" >
        <!--
        selectKey 获取主键,有两种不同操作,一种是在执行sql语句之前需要先设置主键的(非自增主键),一种是在插入成功之后想获取下插入的主键的(一般是自增主键)
        所以在这里有一个属性叫order有两个值, 一个是before一个after,
        resultType 代表主键的类型
        keyColumn代表主键所在的列
        keyProperty 代表主键在对象中的属性,用于将获取到的主键设置到该属性上面,方法执行完成后可以获取到主键的值
       -->
        <selectKey resultType="java.lang.String" keyColumn="userid" keyProperty="userId" order="BEFORE">
            SELECT uuid();
        </selectKey>
        INSERT user_account  (userid,username,phonenum,password,referercode,myreferercode,usertypeid,email,usertypename)
        VALUES (#{userId},#{userName},#{phoneNum},#{password},#{refererCode},#{myRefererCode},#{userTypeId},#{email},#{userTypeName})
    </insert>

    <select id="selectUserTypeId" parameterType="int" resultType="String">
        SELECT usertypeid FROM usertype WHERE TYPE= #{type}
    </select>

    <select id="selectByUserNameAndPasswordAndUserStatus" resultType="com.shenrun.p2pproject.user.pojo.UserPojo">
        SELECT userid,username,phonenum,password,referercode,myreferercode,usertypeid,usercreditlevelid,usercreditlevelname,userstatus,email,usertypename
        FROM user_account
        WHERE username=#{userName} AND password=#{password} AND userstatus='1'
    </select>

    <select id="selectAllUserType" resultType="com.shenrun.p2pproject.user.pojo.UserType">
        SELECT usertypeid,usertypename,type FROM usertype;
    </select>

    <update id="updateUser" parameterType="com.shenrun.p2pproject.user.pojo.UserPojo">
        UPDATE user_account
        <set>
            <!--注意数据校验-->
            <if test="userName !=null  and userName !=''">
                username=#{userName},
            </if>
            <if test="phoneNum !=null  and phoneNum !=''">
                phonenum=#{phoneNum},
            </if>
            <if test="password !=null  and password !=''">
                password=#{password},
            </if>
            <if test="refererCode !=null  and refererCode !=''">
                referercode=#{refererCode},
            </if>
            <if test="userTypeId !=null  and userTypeId !=''">
                usertypeid=#{userTypeId},
            </if>
            <if test="creditLevelId !=null  and creditLevelId !=''">
                usercreditlevelid=#{creditLevelId},
            </if>
            <if test="creditLevelName !=null  and creditLevelName !=''">
                usercreditlevelname=#{creditLevelName},
            </if>
            <if test="userStatus !=null  and userStatus !=''">
                userstatus=#{userStatus},
            </if>
            <if test="email !=null  and email !=''">
                email=#{email},
            </if>
            <if test="nickName !=null  and nickName !=''">
                nickname=#{nickName},
            </if>
            <if test="realName !=null  and realName !=''">
                realname=#{realName},
            </if>
            <if test="idNum !=null  and idNum !=''">
                idnum=#{idNum},
            </if>
            <if test="emailStatus !=null  and emailStatus !=''">
                emailstatus=#{emailStatus},
            </if>
            <if test="realNameVerifiedStatus !=null  and realNameVerifiedStatus !=''">
                realnameverifiedstatus=#{realNameVerifiedStatus},
            </if>
            <if test="sceneVerifiedStatus !=null  and sceneVerifiedStatus !=''">
                sceneverifiedstatus=#{sceneVerifiedStatus},
            </if>
            <if test="payPassword !=null  and payPassword !=''">
                paypassword=#{payPassword},
            </if>

        </set>

        WHERE userid =#{userId}
    </update>
</mapper>