<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shenrun.p2pproject.user.mapper.UserMapper">

    <insert id="InsertUser" parameterType="com.shenrun.p2pproject.user.pojo.UserPojo" >
        INSERT user_account  (userid,username,phonenum,password,referercode,myreferercode,usertypeid,usercreditlevelid,usercreditlevelname,userstatus,email)
        VALUES ((#{userId},#{userName},#{phoneNum},#{password},#{refererCode},#{myRefererCode},#{userTypeId},#{creditLevelId},#{creditLevelName},#{userStatus},#{email}))
    </insert>

    <select id="selectUserTypeId" parameterType="int" resultType="String">
        SELECT usertypeid FROM usertype WHERE TYPE= #{type}
    </select>
</mapper>